@font-face {
    font-family: Inter;
    src:url(fontes/inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: LeagueGothic;
    src:url(fontes/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf);
}
:root{
    font-size: 100%;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #000001;
    color: #fffffe;
    font-family: Inter;
    
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffffe;
    margin-left: 20%;
    margin-right: 20%;
    width: 865px;
    
}

.container_C{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

.container_R{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.childInv{
    width: center;
    background-color: #000001;
    color: #fffffe;
    padding: 30px;
    
}

.child{
    width: center;
    background-color: #fffffe;
    color: #000001;
    padding: 30px;
    align-items: center;
}

.childInv p{
    font-size: 1rem;
    max-width: 865px;
}
.child p{
    font-size: 1rem;
    max-width: 865px;
}

.childH{
    width: center;
    background-color: #000001;
    padding: 25px;
    align-items: center;
}

.childH h1{
    color: #006663;
    font-size: 4rem;
    font-family: LeagueGothic;

}
.child h3{
    color: #D74F00;
    font-size: 3rem;
    font-family: LeagueGothic;
    
}
.child h4{
    color: #006663;
    font-size: 3rem ;
    font-family: LeagueGothic;
}

.container_R img{
    width: 457px;
    height: 280px;
}



footer {
	background-color: #000001;
	color: #fffffe;
	padding: 20px;
	text-align: center;
    align-items: center;
    width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 10px;
    padding: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

